#header__nav{ 
    position: fixed;
    top: 0;
    z-index: 10;
    left: 0;
    right: 0;
}
.sub__header-top{
    height: 3.6rem;
    /* background-color: #1f272b; */
    background-color: #000000;
    border-bottom: 1px solid #a2a2a2;
    
}
.padding__top-header{
    padding: 0 4.8rem;
}
.left__content {

}
 
.left__content-infor-list{
    font-size: 1.4rem;
    color: #fff;
    list-style-type: none;
    margin-bottom: 0;
    line-height: 36px;
    padding-left: 0;
    opacity: 0.9;

}
.right__content-icon-item,
.left__content-infor-item{
    display: inline-block;
    /* padding-right: 1rem; */
}
.left__content-infor-item i{
    margin-right: 6px;
}
.left__content-infor-item {
    font-weight: 300;
     
}
/* rigth content */
.right__content-icon-list {
    margin-bottom: 0;
    /* line-height: 3.6rem; */
    color: #fff;
    text-align: right;
    /* padding: 0; */
}


.right__content-icon-item {
    padding: 0 1rem;
}  
.right__content-icon-item > p {
    font-size: 1.4rem;
    font-weight: 500;
    opacity: 0.9;
}

 
.right__content-icon-item a{
    color: var(--white-color);
    font-size: 1.2rem;
    opacity: 0.8;
    line-height: 3.6rem;
    /* font-weight: 300; */
}
.right__content-icon-item a:hover{
    color: var(--bs-orange);
}

/* main-header */
.main__header-bottom{
    background-color: rgba(0, 0, 0, 0.7); 
    height: var(--line-height-header);
}
.row__iner-se{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.link_logo-home{
    /* height: 100px; */
     display: block;
     padding: 0;
}

.link_logo-home img {
    height:7.8rem;
    object-fit: cover;
}
.link_logo-home:hover img{
    filter: brightness(0.8);
}
 .hamburger__icon-btn{
    padding: 0;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    display: none;
 }
.hamburger__icon-btn i{
    font-size: 2.8rem;
    border: 2px solid var(--bs-orange);
    padding:  0.8rem 1.4rem;
    border-radius: 10px;
    color: var(--bs-orange);
}
.header__right__task{
    display: flex;
    justify-content: flex-end;
    padding-right: 0;
}
.contain__list-nav-detail{
    list-style-type: none;
     margin-bottom: 0;
     display: flex;
     margin-right: 2rem; 
}
.contain__item-nav{
    position: relative;
    line-height: var(--line-height-header);
}
.contain__item-nav-link span{
    position: relative;

}
.contain__item-nav-link > span::after{
    content: '';
    position: absolute;
    width: 0;
    height: 0.8px;
    bottom: -5px;
    left: 0;
    background-color: var(--bs-orange);  
    transition: width 0.3s ease;
}
.contain__item-nav:hover > a{
    color: var(--bs-orange);
}
.contain__item-nav:hover .contain__item-nav-link span::after{
    width: 100%;
}

.contain__item-nav > a{    
    color: var(--slider-color);
    font-size: 1.6rem;
    text-transform: uppercase;
    padding: 0px 14px;
    text-decoration: none;
    display: block;
    font-weight: 600;
    cursor: pointer;
}
.contain__sub-item_nav-list{
    padding-left: 0;
    min-width: 16rem;
}
.contain__sub-item_nav-link{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    left: 0;
    display: none;
}
.contain__sub-item_nav-items  {
    line-height: normal;
    list-style-type: none;
}
.contain__sub-item_nav-items a{
    font-size: 1.6rem;
    padding: 0.4rem 1.6rem;
   display: block;
   color: var(--white-color);
   line-height: 3.8rem;
   text-transform: uppercase;
}
.contain__sub-item_nav-items:hover a {
    text-decoration: none;
}

.contain__sub-item_nav-items:hover {
    background-color: var(--orangr-hover-rgba);
}
.contain__item-nav-open:hover .contain__sub-item_nav-link{
    display: block;
}
/* right header */
.contain__task-user{
    margin: auto 0;
    justify-items: end;
    justify-self: end;
}
.header__task-right{
    display: flex;
}
.header__link-task{   
    display: block; 
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    color: var(--slider-color);
    padding: 0 1rem;
    text-decoration: none;
    
}
.header__link-task:hover{
    text-decoration: none;
    /* text-decoration: none; */
    color: var(--bs-orange);
}   

.text-label {
    position: relative;
    display: inline-block;
    /* margin-left: 10px;   */
}
.text-label::after   {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    bottom: -3px;
    left: 0;
    background-color: var(--bs-orange);  
    transition: width 0.3s ease;
}

.header__link-task:hover .text-label::after   {     
    width: 100%;
}

 
.header__link-task-icon{
    font-size: 1.6rem;
}
.text-label{
    font-size: 1rem;
}
/* content intro duce */
.content__intro-img-script{
    position: relative;
}
.contain__content__intro-list{
    display: flex;
    width: 100%;
}
.content__intro-item{
    width: 100% ;
}
.intro-item-img  {
    
    overflow: hidden; 
    width: 100%;
}

.intro-item-img img{
    height: 100vh;
    width: 100%;   
    object-fit: cover; 
    transition: transform 0.4s ease;
    filter: brightness(0.9);
}
.intro-item-img:hover img{
   transform: scale(1.1);
}
.intro-item-img> img:nth-child(1){
    /* filter: brightness(0.6); */

}
/* script intro */
.container_content_intro_script{
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translateX(-50%);
}
.content_intro-title h1{
    color: var( --color-font-header-main);
    font-size: var(--font-header-main);
    margin-bottom: 2rem;
}
.content_intro_script-detail p{
    font-size:var(--font-sub-header-main);
    color: var(--color-font-sub-header-main);
    margin-bottom: 2rem;

}
.content_intro_link{
    display: flex;
    justify-content: center;
}
.content_intro_link a{
    font-size: 1.6rem;
    background-color: var(--bs-orange);
    color: var(--white-color);
    padding: 0.8rem 1.6rem;
    border-radius: var(--border-radius-useful);
    text-decoration: none;
    font-weight: 600;
}
.content_intro_link a:hover{
    text-decoration: none;
    background-color: transparent;
    border: 2px solid var(--bs-orange);
}
.content__latest-news{
    padding: 30px 0;
    
}
.content__latest-news-title{
    margin-bottom: 3rem;
}
.content__latest-news-title h1{
    font-size: var(--font-title-main);
    
}
.content__latest-news-title p{
    font-size: var( --font-sub-title );
}

/* ---------- */
/* contents new blogs */
.container__content__lates-news{
    position: relative;
    width: 100%;
    overflow: hidden; 
}
.latest__news-card-wrapper{
     width: 100%;
     overflow: hidden;
}
.news-card-list{
    display: flex;
    transition: transform 0.3s ease-in-out; 
}
.news-card-item{
    position: relative;  
    box-sizing: border-box;
    flex-shrink: 0;
    width: 25%;
    padding: 0 0.6rem;
    overflow: hidden;
} 
.news-card-link{
   display: block;
   /* padding-left: -0.6rem; */
   overflow: hidden;
    

}
.news-card-img{
    width: 100%;
    height: 45rem;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    transition: transform 0.4s ease;
    
}
.news-card-desc{
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    width: calc(100% - 1.2rem);    
    transition: background-color 0.4s ease;
  
}
.news-card-title{
    color: var(--white-color);
    font-size: 2.6rem;
    margin-bottom: 0.8rem;
}
.news-card-subtitle{
    color: var(--white-color);
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 2rem;
}
.news-card-more-info{
    position: absolute;
    top: 1.6rem;
    right: 0;
    padding: 0.5rem 1.4rem;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    transition: background-color 0.4s ease;
    z-index: 1; 
    opacity: 0;
    margin-right: 0.6rem;
}
.news-card-more-info h3{
    text-align: end;
    margin-bottom: 0;
    color: var(--white-color);
    transition: transform-color 0.4s ease;

}
.news-card-item:hover .news-card-more-info{
    background-color: var(--orangr-hover-rgba); 
    opacity: 1; /* Fade in */
    visibility: visible;
}
.news-card-item:hover .news-card-desc{
    background-color: var(--orangr-hover-rgba); 
}
.news-card-item:hover .news-card-img{
     transform: scale(1.2);
}
/* btn  */
.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    border: none;
    cursor: pointer;
    font-size: 24px; 
    z-index: 10;
    border: none;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.left-btn {
    left: 1.6rem;
}

.right-btn {
    right: 1.6rem;
}
.container__content__shop{
    width: 96%;
    margin: 0 auto;
    padding: 7rem 0;
}
.row__content__shop{
    /* justify-content: space-around; */
}
.contain__shop__intro-img > img{
    object-fit: cover;
    width: 100%;
    height: 40rem;
}
.contain__shop-description-main{
    padding: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   
}
.contain__shop-description-main h4{
    color: var(--bs-orange);
}
.contain__shop-description-main h1{
    font-size: 4.8rem;
}
.contain__shop-description-main p{
    font-size: 1.4rem;
}
.shop__link-to-intro {
    margin-top: 2rem;
}
.shop__link-to-intro {
    display: flex;
    justify-content: center;
}
.shop__link-to-intro a{
    font-size: 1.4rem;
    padding: 1rem 1.6rem;
    background-color: var(--bs-orange);
    color: #fff;
    display: block;
    width: 50%;
    min-width: 150px;
    text-align: center;
    border: 2px solid transparent;
    font-weight: 600;
}
.shop__link-to-intro a:hover{
    text-decoration: none;
    background-color: transparent;
    color: var(--bs-orange);
    border: 2px solid var(--bs-orange);
}
.sort__content__intro-page-img{
    height: 50vh;
    background: url('../img/content/intropage.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    position: relative;
    background-attachment: fixed;
    filter: brightness(0.9);
}
.sort__content__intro-page-script{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sort__content__intro-page-script h4{
    color: var(--white-color);
    margin-bottom: 2rem;

}
.sort__content__intro-page-script h1{
    font-size: 4.6rem;
    color: var(--white-color);

}